@import '../../colorscheme.css';

.titlebar {
  background-color: var(--background-lighter);
  -webkit-user-select: auto;
  user-select: none;
  -webkit-app-region: drag;
  height: 25px;
  z-index: 1;
}

.titlebarLogo {
  float: left;
  width: 15px;
  height: 15px;
  margin: 5px;
}

.buttonsWrapper {
  float: right;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 5px;
  margin-right: 5px;
  -webkit-app-region: no-drag;
}

.windowButton {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 0.5rem;
  outline: none;
  border: none;
  -webkit-app-region: no-drag;
}

.windowButton:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.minimizeBtn {
  background-color: var(--window-minimize-button);
  -webkit-app-region: no-drag;
}

.fullscreenBtn {
  background-color: var(--window-fullscreen-button);
  -webkit-app-region: no-drag;
}

.closeBtn {
  background-color: var(--window-close-button);
  -webkit-app-region: no-drag;
}
