:root {
    --background: rgb(31, 31, 34);
    --background-alt: rgb(44, 44, 46);
    --background-lighter: rgb(47, 47, 53);
    --primary: #e7974c;
    --primary-alt: #a5601f;
    --foreground: rgb(241, 229, 217);
    --window-close-button: rgb(207, 75, 52);
    --window-fullscreen-button: var(--primary);
    --window-minimize-button: rgb(89, 177, 38);
}