:root {
    --background: rgb(31, 31, 34);
    --background-lighter: rgb(47, 47, 53);
    --primary: #e7974c;
    --primary-alt: #a5601f;
    --foreground: rgb(241, 229, 217);
    --window-close-button: rgb(207, 75, 52);
    --window-fullscreen-button: rgb(211, 148, 55);
    --window-minimize-button: rgb(53, 81, 204);
}